# PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Backend database connection
DATABASE_HOST=postgres
DATABASE_PORT=5432

# Backend server
BACKEND_PORT=5000
NODE_ENV=production

# Frontend
FRONTEND_PORT=3000
REACT_APP_API_URL=http://localhost:5000/api
